## main 
sphinx-autobuild
sphinx

## exts
sphinxcontrib-fulltoc

## theme
# crate-docs-theme
# sphinx-rtd-theme
cloud_sptheme>1.10
#insegel

## markdown suport
# recommonmark
## markdown table suport
# sphinx-markdown-tables

## emoji
sphinxemoji


