## main 
sphinx-autobuild
sphinx

## exts
git+https://github.com/eli-collins/sphinxcontrib-fulltoc.git

## theme
# crate-docs-theme
# sphinx-rtd-theme
cloud_sptheme=1.10.1
#insegel

## markdown suport
# recommonmark
## markdown table suport
# sphinx-markdown-tables

## emoji
sphinxemoji


